{% assign events = site.data.events | where:"current", true %}
<div class="row">
  {% if events.size > 0 %}
    {% for event in events %}
      <div class="col-xs-12 col-sm-11 col-sm-offset-1 m-b-3">
        <p>
          {% include event.html
            title=event.title
            description=event.description
            location-name=event.location-name
            location-website=event.location-website
            location-address=event.location-address
            location-map-url=event.location-map-url
            timezone=event.timezone
            start-datetime=event.start-datetime
            end-datetime=event.end-datetime
            date-description=event.date-description
          %}
        </p>
      </div>
    {% endfor %}
  {% else %}
    <div class="col-xs-12 col-sm-11 col-sm-offset-1 m-b-3">
      <p>None scheduled at this time.</p>
    </div>
  {% endif %}
</div>