<header>
  <nav class="container flex-header">
    <a href="/art"><h4>Art</h4></a>
    <a href="/photography"><h4>Photography</h4></a>
    <a href="/" class="no-underline">
      <h1 class="flex-header-item">Jackie Johnston</h1>
    </a>
    <a href="/coding"><h4>Coding</h4></a>
    <a href="/contact"><h4>Contact</h4></a>
    <a href="http://www.linkedin.com/in/jacquelinejohnston" class="no-underline">
      <h4><i class="fa fa-linkedin-square" aria-hidden="true"></i></h4>
    </a>
  </nav>
</header>