<header>
  <nav class="container flex-header">
    <a href="/" class="no-underline title">
      <h1>Jackie Johnston</h1>
    </a>
    <a href="/art"><h4>Art</h4></a>
    <a href="/code"><h4>Code</h4></a>
    <a href="/photography"><h4>Photography</h4></a>
    <a href="/contact"><h4>Contact</h4></a>
    <a href="https://twitter.com/heartsbeach" class="no-underline flex-header-social">
      <i class="fa fa-twitter-square fa-lg"></i>
    </a>
    <a href="https://www.instagram.com/heartsbeach/" 
       class="no-underline flex-header-social">
      <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
    </a>
    <a href="https://github.com/jackiejohnston" class="no-underline flex-header-social">
      <i class="fa fa-github-square fa-lg"></i>
    </a>
    <a href="https://www.linkedin.com/in/jacquelinejohnston" 
       class="no-underline flex-header-social">
      <i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i>
    </a>
  </nav>
</header>