<main class="container">
  <section class="row">
    <article class="col-md-9">
      {% for snippet in site.snippets | sort: 'order' %}
        {% if snippet.tag == page.tag %}
          {% include snippet.html 
            headline=snippet.headline 
            description=snippet.description
            show-example=snippet.show-example 
            code-snippet=snippet.content 
            code-language=snippet.code-language 
            show-code=snippet.show-code
            section=snippet.section
          %}
        {% endif %}
      {% endfor %}
    </article>
    <aside id="sidecar-menu" class="col-md-2 col-offset-md-1 sidecar-menu p-x-3 m-x-3 m-t-2 hidden-xs hidden-sm hidden-print">
      <ul class="nav list-unstyled">
      {% for snippet in site.snippets %}
        {% if snippet.tag == page.tag %}
          {% if snippet.section %}
            <li>
              <a href="#{{ snippet.section | slugify }}">
                {{ snippet.section }}
              </a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
      </ul>
    </aside>
  </section>
</main>