body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header nav a {
  color: black;
  color: rgba(0,0,0,.75);
  text-decoration: none;
}

header nav a:hover {
  color: #337ab7;
  text-decoration: underline;
}

a:hover.no-underline  {
  text-decoration: none !important;
}

header nav h1 {
  font-family: 'Kristi', "Helvetica Neue", Helvetica, Arial, sans-serif;;
  font-size: 5em;
}

.flex-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
}

// http://tympanus.net/Development/GridLoadingEffects/index2.html
// http://masonry.desandro.com/
.gallery {
  column-count: 2;
  column-gap: 1.25em;
}

@media only screen and (min-width: 500px) {
  .gallery {
    column-count: 3;
  }
}

.gallery .tile { 
  display: inline-block;
  margin: 0 0 1.25em;
  width: 100%;
}

.slide {
  cursor: pointer;  
}
