*, *:after, *:before { box-sizing: border-box; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header nav a {
  color: black;
  color: rgba(0,0,0,.75);
  text-decoration: none;
}

header nav a:hover {
  color: #337ab7;
  text-decoration: underline;
}

a:hover.no-underline  {
  text-decoration: none !important;
}

header nav h1 {
  font-family: 'Kristi', "Helvetica Neue", Helvetica, Arial, sans-serif;;
  font-size: 5em;
}

.flex-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
}

.slide {
  cursor: pointer;  
}
