* { box-sizing: border-box; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header nav a {
  color: black;
  color: rgba(0,0,0,.75);
  text-decoration: none;
}

header nav a:hover {
  color: #337ab7;
  text-decoration: underline;
}

a:hover.no-underline  {
  text-decoration: none !important;
}

header nav h1 {
  font-family: 'Kristi', "Helvetica Neue", Helvetica, Arial, sans-serif;;
  font-size: 5em;
}

.flex-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
}


.grid {
  margin: 0 auto;
}
/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item { width: 100%; }

@media only screen and (min-width: 375px) {
  .grid-sizer,
  .grid-item { width: calc(50% - 8px); }
}

@media only screen and (min-width: 768px) {
  .grid-sizer,
  .grid-item { width: calc(33.333% - 10px); }
}

.grid-item {
  margin-bottom: 15px;
}

.slide {
  cursor: pointer;  
}
