<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main class="container">
      {{ content }}
    </main>
    <footer>
      {% include footer.html %}
      {% include footer-script.html %}
      <script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js"></script>
      <script>
        $(window).load(function() {
          $('.grid').masonry({
            percentPosition: true,
            columnWidth: '.grid-sizer',
            itemSelector: '.grid-item',
            gutter: 15
          });
          // Build slideshow and open with image is clicked:
          var openPhotoSwipe = function(imageIndex, images) {
            var pswpElement = document.querySelectorAll('.pswp')[0];

            // build items array
            var items = images;
            
            var options = {       
                index: imageIndex,
                galleryPIDs: true
            };
            
            var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
            gallery.init();
          };

          $(".gallery img").click(function() {
            var imageIndex = $(".gallery img").index(this);
            var images = [];
            $(".gallery img").each(function(i,ele) {
              if (!$(ele).hasClass("hidden")) {
                var image = {
                  src: $(this).attr("src").replace("-sm", ""),
                  msrc: $(this).attr("src"),
                  title: $(this).attr("alt"),
                  w: $(this).data("width"),
                  h: $(this).data("height"),
                  // pid: $(this).attr("src").replace("/images/", "").replace(/\.[^.]*$/, "")
                };
                images.push(image);
              }
            });
            openPhotoSwipe(imageIndex, images);
          });

          // $("#show-for-sale").click(function() {
          //   $('.slide[data-available="false"]').addClass("hidden");
          //   $(this).addClass("hidden");
          //   $("#show-all").removeClass("hidden");
          // });

          // $("#show-all").click(function() {
          //   $('.slide[data-available="false"]').removeClass("hidden");
          //   $(this).addClass("hidden");
          //   $("#show-for-sale").removeClass("hidden");
          // });
        });
      </script>
    </footer>
    {% include photoswipe.html %}
  </body>
</html>