<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
  <script type="text/javascript">(function () {
    if (window.addtocalendar)if(typeof window.addtocalendar.start == "function")return;
    if (window.ifaddtocalendar == undefined) { window.ifaddtocalendar = 1;
      var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
      s.type = 'text/javascript';s.charset = 'UTF-8';s.async = true;
      s.src = ('https:' == window.location.protocol ? 'https' : 'http')+'://addtocalendar.com/atc/1.5/atc.min.js';
      var h = d[g]('body')[0];h.appendChild(s); }})();
    </script>
    {% include header.html %}

    <main>
      {{ content }}
    </main>
    <footer>
      {% include footer.html %}
      {% include footer-script.html %}
      <script>
        new AnimOnScroll( document.getElementById( 'grid' ), {
          minDuration : 0.4,
          maxDuration : 0.7,
          viewportFactor : 0.2
        } );

        $(window).load(function() {
          // Build slideshow and open with image is clicked:
          var openPhotoSwipe = function(imageIndex, images) {
            var pswpElement = document.querySelectorAll('.pswp')[0];

            // build items array
            var items = images;
            
            var options = {       
                index: imageIndex,
                galleryPIDs: true
            };
            
            var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
            gallery.init();
          };

          $(".gallery img").click(function() {
            var imageIndex = $(".gallery img").index(this);
            var images = [];
            $(".gallery img").each(function(i,ele) {
              if (!$(ele).hasClass("hidden")) {
                var image = {
                  src: $(this).attr("src").replace("-sm", ""),
                  msrc: $(this).attr("src"),
                  title: $(this).attr("alt"),
                  w: $(this).data("width"),
                  h: $(this).data("height"),
                  // pid: $(this).attr("src").replace("/images/", "").replace(/\.[^.]*$/, "")
                };
                images.push(image);
              }
            });
            openPhotoSwipe(imageIndex, images);
          });
        });
      </script>
    </footer>
    {% include photoswipe.html %}
  </body>
</html>